In [1]:
import os
os.chdir("/Users/jacksonwalters/Documents/GitHub/enefit-kaggle/predict-energy-behavior-of-prosumers/")
!ls

client.csv                            gas_prices.csv
county_id_to_name_map.json            historical_weather.csv
electricity_prices.csv                public_timeseries_testing_util.py
enefit                                train.csv
example_test_files                    weather_station_to_county_mapping.csv
forecast_weather.csv

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [4]:
#helper function to convert datetime strings to integers representing a time year-month-day hour-min-sec
from datetime import datetime
def datestr_to_int(datetime_str,date_format):
    return datetime.strptime(datetime_str, date_format).timestamp()

In [71]:
#load the training data, dropping NaN's
train = pd.read_csv("train.csv").dropna()
train['datetime'] = train['datetime'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d %H:%M:%S'))

In [6]:
forecast_weather = pd.read_csv("forecast_weather.csv")
#convert strings to ints
forecast_weather['origin_datetime'] = forecast_weather['origin_datetime'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d %H:%M:%S%z'))
forecast_weather['forecast_datetime'] = forecast_weather['forecast_datetime'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d %H:%M:%S%z'))

In [7]:
weather_station_to_county_mapping = pd.read_csv("weather_station_to_county_mapping.csv")

In [8]:
historical_weather = pd.read_csv("historical_weather.csv")

In [56]:
gas_prices = pd.read_csv("gas_prices.csv")
#convert date strings to ints
gas_prices['forecast_date'] = gas_prices['forecast_date'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d'))
gas_prices['origin_date'] = gas_prices['origin_date'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d'))

In [22]:
electricity_prices = pd.read_csv("electricity_prices.csv")
#convert date strings to ints
electricity_prices['forecast_date'] = electricity_prices['forecast_date'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d %H:%M:%S'))
electricity_prices['origin_date'] = electricity_prices['origin_date'].apply(lambda x: datestr_to_int(x,'%Y-%m-%d %H:%M:%S'))

In [11]:
forecast_weather['origin_datetime'] - forecast_weather['forecast_datetime']

0           -3600.0
1           -3600.0
2           -3600.0
3           -3600.0
4           -3600.0
             ...
3424507   -172800.0
3424508   -172800.0
3424509   -172800.0
3424510   -172800.0
3424511   -172800.0
Length: 3424512, dtype: float64

In [12]:
#https://www.kaggle.com/competitions/predict-energy-behavior-of-prosumers/discussion/455100

In [69]:
train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,0,1,0.713,0,1.630469e+09,0,0,0
1,0,0,1,96.590,1,1.630469e+09,0,1,0
2,0,0,2,0.000,0,1.630469e+09,0,2,1
3,0,0,2,17.314,1,1.630469e+09,0,3,1
4,0,0,3,2.904,0,1.630469e+09,0,4,2
...,...,...,...,...,...,...,...,...,...
2018347,15,1,0,197.233,1,1.685588e+09,637,2018347,64
2018348,15,1,1,0.000,0,1.685588e+09,637,2018348,59
2018349,15,1,1,28.404,1,1.685588e+09,637,2018349,59
2018350,15,1,3,0.000,0,1.685588e+09,637,2018350,60
2018351,15,1,3,196.240,1,1.685588e+09,637,2018351,60

In [73]:
gas_prices['data_block_id'] -= 2

In [76]:
#merge gas prices and train.csv data
#column names differ, so use left_on and right_on
df = pd.merge(train, gas_prices, left_on=['data_block_id','datetime'], right_on=['data_block_id','origin_date'], how='left')

In [77]:
df.dropna()

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date
0,0,0,1,0.713,0,1.630469e+09,0,0,0,1.630555e+09,45.62,46.29,1.630469e+09
1,0,0,1,96.590,1,1.630469e+09,0,1,0,1.630555e+09,45.62,46.29,1.630469e+09
2,0,0,2,0.000,0,1.630469e+09,0,2,1,1.630555e+09,45.62,46.29,1.630469e+09
3,0,0,2,17.314,1,1.630469e+09,0,3,1,1.630555e+09,45.62,46.29,1.630469e+09
4,0,0,3,2.904,0,1.630469e+09,0,4,2,1.630555e+09,45.62,46.29,1.630469e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2008589,15,1,0,163.077,1,1.685333e+09,635,2009117,64,1.685419e+09,29.00,34.00,1.685333e+09
2008590,15,1,1,0.000,0,1.685333e+09,635,2009118,59,1.685419e+09,29.00,34.00,1.685333e+09
2008591,15,1,1,33.713,1,1.685333e+09,635,2009119,59,1.685419e+09,29.00,34.00,1.685333e+09
2008592,15,1,3,0.000,0,1.685333e+09,635,2009120,60,1.685419e+09,29.00,34.00,1.685333e+09
2008593,15,1,3,153.666,1,1.685333e+09,635,2009121,60,1.685419e+09,29.00,34.00,1.685333e+09

In [64]:
#merge train and gas_prices via left join on data_block_id
#this leaves all rows of train, but matches
df = df.merge(electricity_prices, on=['origin_date','forecast_date'], how='outer')

In [65]:
df.dropna()

,county,is_business,product_type,target,is_consumption,datetime,row_id,prediction_unit_id,forecast_date,lowest_price_per_mwh,highest_price_per_mwh,origin_date,euros_per_mwh,data_block_id
0,0.0,0.0,1.0,0.713,0.0,1.630469e+09,0.0,0.0,1.630555e+09,45.62,46.29,1.630469e+09,96.99,4.0
1,0.0,0.0,1.0,96.590,1.0,1.630469e+09,1.0,0.0,1.630555e+09,45.62,46.29,1.630469e+09,96.99,4.0
2,0.0,0.0,2.0,0.000,0.0,1.630469e+09,2.0,1.0,1.630555e+09,45.62,46.29,1.630469e+09,96.99,4.0
3,0.0,0.0,2.0,17.314,1.0,1.630469e+09,3.0,1.0,1.630555e+09,45.62,46.29,1.630469e+09,96.99,4.0
4,0.0,0.0,3.0,2.904,0.0,1.630469e+09,4.0,2.0,1.630555e+09,45.62,46.29,1.630469e+09,96.99,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017819,15.0,1.0,0.0,163.077,1.0,1.685333e+09,2009117.0,64.0,1.685419e+09,29.00,34.00,1.685333e+09,8.57,639.0
2017820,15.0,1.0,1.0,0.000,0.0,1.685333e+09,2009118.0,59.0,1.685419e+09,29.00,34.00,1.685333e+09,8.57,639.0
2017821,15.0,1.0,1.0,33.713,1.0,1.685333e+09,2009119.0,59.0,1.685419e+09,29.00,34.00,1.685333e+09,8.57,639.0
2017822,15.0,1.0,3.0,0.000,0.0,1.685333e+09,2009120.0,60.0,1.685419e+09,29.00,34.00,1.685333e+09,8.57,639.0
2017823,15.0,1.0,3.0,153.666,1.0,1.685333e+09,2009121.0,60.0,1.685419e+09,29.00,34.00,1.685333e+09,8.57,639.0

In [66]:
df = df.merge(forecast_weather, left_on='forecast_date', right_on='forecast_datetime',how='outer')

In [67]:
#drop NaN rows
df = df.dropna()

In [68]:
df

,county,is_business,product_type,target,is_consumption,datetime,row_id,prediction_unit_id,forecast_date,lowest_price_per_mwh,...,cloudcover_mid,cloudcover_total,10_metre_u_wind_component,10_metre_v_wind_component,data_block_id_y,forecast_datetime,direct_solar_radiation,surface_solar_radiation_downwards,snowfall,total_precipitation
0,0.0,0.0,1.0,0.713,0.0,1.630469e+09,0.0,0.0,1.630555e+09,45.62,...,0.647781,0.695312,0.886121,-9.359729,1.0,1.630555e+09,97.381389,40.216389,0.0,0.000014
1,0.0,0.0,1.0,0.713,0.0,1.630469e+09,0.0,0.0,1.630555e+09,45.62,...,0.653580,0.703644,1.224378,-4.953479,1.0,1.630555e+09,139.194722,47.505278,0.0,0.000000
2,0.0,0.0,1.0,0.713,0.0,1.630469e+09,0.0,0.0,1.630555e+09,45.62,...,0.326401,0.400497,1.668348,-7.180285,1.0,1.630555e+09,220.261389,61.016389,0.0,0.000004
3,0.0,0.0,1.0,0.713,0.0,1.630469e+09,0.0,0.0,1.630555e+09,45.62,...,0.112305,0.159805,1.965345,-9.117541,1.0,1.630555e+09,279.141389,70.936389,0.0,0.000008
4,0.0,0.0,1.0,0.713,0.0,1.630469e+09,0.0,0.0,1.630555e+09,45.62,...,0.142334,0.180725,1.548841,-9.581653,1.0,1.630555e+09,290.092500,73.887500,0.0,0.000018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20713693,15.0,1.0,3.0,153.666,1.0,1.685333e+09,2009121.0,60.0,1.685419e+09,29.00,...,0.120850,0.122345,3.244002,1.453518,637.0,1.685419e+09,645.835293,303.716111,0.0,0.000000
20713694,15.0,1.0,3.0,153.666,1.0,1.685333e+09,2009121.0,60.0,1.685419e+09,29.00,...,0.365601,0.365601,4.402694,1.083645,637.0,1.685419e+09,608.875293,300.778333,0.0,0.000000
20713695,15.0,1.0,3.0,153.666,1.0,1.685333e+09,2009121.0,60.0,1.685419e+09,29.00,...,0.562164,0.562164,3.980086,-0.196629,637.0,1.685419e+09,412.341960,265.933889,0.0,0.000000
20713696,15.0,1.0,3.0,153.666,1.0,1.685333e+09,2009121.0,60.0,1.685419e+09,29.00,...,0.293518,0.293518,4.573836,-2.191746,637.0,1.685419e+09,107.168626,179.449444,0.0,0.000000
20713697,15.0,1.0,3.0,153.666,1.0,1.685333e+09,2009121.0,60.0,1.685419e+09,29.00,...,0.955231,0.955231,3.443465,-1.626072,637.0,1.685419e+09,135.648626,203.071667,0.0,0.000000

In [135]:
#drop the target column to get the training data
X = df.drop("target", axis=1)

In [136]:
#set the target variable
y = df['target']

In [137]:
#verify there are no NaN's
np.any(np.isnan(y))

False

In [138]:
# load the modeling modules from sklearn
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint
from sklearn.metrics import mean_absolute_error

In [139]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [140]:
#create a multivariable linear regression
from sklearn import linear_model
regr = linear_model.LinearRegression()
regr.fit(X, y)

LinearRegression()

In [141]:
#predict on the test data
lin_pred = regr.predict(X_test)

In [142]:
mean_absolute_error(lin_pred,y_test)

286.8959832780879

In [106]:
#train the random forest regressor
rf = RandomForestRegressor(n_estimators=10)
rf.fit(X_train, y_train)

RandomForestRegressor(n_estimators=10)

In [107]:
#predict the target values using the random forest regressor
rf_pred = rf.predict(X_test)

In [108]:
#mean absolute error for random regressor
mean_absolute_error(y_test,rf_pred)

19.109998741650767